extends layout.pug

block content
  main.all-todos     
    if todos.length
      ul.todos
        p Current ToDo's
        each todo in todos
          li.todo-item 
            a(href=`todos/${ todo.id }`)= todo.title
            a.delete-todo(href=`todos/${ todo.id }/delete`) Delete
    else
      p.empty No any todo yet