extends layout.pug

block content
  main.intro
    p Hey, Welcome to ToDo App
    p Here you can create tasks, delete them and archieve!
    p Supports markdown
    a(href="todos/create-todo" class="create-todo-btn") Create todo