extends layout.pug

block content
  main.all-todos  
    h2.todo-title= todo.title
    p.todo-body#body= todo.body 
    
    
    script(type="text/javascript").
      window.onload = function () {
        document.getElementById('body').innerHTML = marked(document.getElementById('body').innerHTML);
      }