:root {
    font-size: 16px;
    --text-font: 'Open Sans', sans-serif;
    --text-color: #303036;
    
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #FFFAFF;
  }

  main{
    min-height: 85vh;
    margin-bottom: 100px;
  }
  
  img {
    width: 100%;
  }
  
  .navbar {
    max-width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--text-font);
    border-bottom: 3px solid #fc5130;
    background-color: #303036;
    color: #FFFAFF;
    
  }

  
  a {
    text-decoration: none;
    transition: .4s ease;
  }
  
  .logo a {
    color: inherit;
  }
  
  .nav-items {
    display: flex;
    list-style-type: none;
  }
  
  .nav-link {
    padding: 5px 10px;
    color: inherit;
  }
  
  .nav-link:hover,
  .logo a:hover {
    color: #fc5130;
  }
  
  /* index page */
  .intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 50px;
    font-family: var(--text-font);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .intro p {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .create-todo-btn {
    padding: 15px 40px;
    background-color: #fc5130;
    color: #FFFAFF;
    font-size: 1.1rem;
    border: none;
    margin-top: 20px;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease-in-out;
    border-radius: 3px;
  }

  .create-todo-btn:hover{
    background-color: #30bced;
    color: #FFFAFF;
  }
  
  /* create todo */
  .create-todo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: var(--text-font);
  }
  
  .create-todo h1 {
    margin-bottom: 30px;
  }
  
  .todo-input {
    width: 50%;
    display: block;
    border: 1px solid #ccc;
    font-family: var(--text-font);
    padding: 10px;
    font-size: 1rem;
  }
  
  /* all todos page */
  .all-todos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .todos {
    list-style: none;
    font-family: var(--text-font);
    width: 90%;
  }

  .todos p{
    font-size: 1.5rem;
    color: #303036;
    text-transform: uppercase;
    font-family: var(--text-font);
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .todos > li {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: #d4d4d4;
    transition: .4s ease;
    color: #303036;
    margin-bottom: 5px;
  }

  .todos > li a{
    text-decoration: none;
    text-transform: capitalize;
  }
  .todos > li a:nth-child(1){
    color: #32323f;
    transition: .4s ease;
  }
  .todos > li a:nth-child(1):hover{
    color: #fc5130;
  }
  
  /* todo detail page */
  .todo-title,
  .todo-body {
    font-family: var(--text-font);
  }
  
  .todo-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .todo-body {
    font-size: 1.4rem;
    margin-top: 50px;
    text-align: justify;
  }
  
  /* utils */
  .success,
  .error {
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;
  }
  
  .error {
    background: #fccccc;
    border: 1px solid #910909;
    color: #910909;
  }
  
  .success {
    background: #b9ffca;
    border: 1px solid #038815;
    color: #038815;
  }
  
  .form-title {
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .label {
    display: inline-block;
    margin: 10px 0;
  }
  
  .empty {
    font-family: var(--text-font);
    font-size: 1.5rem;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;
  }
  
  .delete-todo {
    font-size: 0.8rem;
    background: #fc5130;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  .archive-link {
    display: inline-block;
    margin: 0 20px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #fc5130;
  }

  /*FOOTER*/
  footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #303036;
    font-family: var(--text-font);
    color: #FFFAFF;
  }

  footer .contacts{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .id{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
  }

  footer .disclaimer{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
  }

  footer .contacts a{
    text-decoration: none;
  }

  footer .contacts a i{
    font-size: 2rem;
    color: #FFFAFF;
    margin: 0 10px;
    transition: .5s ease;
  }

  footer .contacts a:nth-child(1):hover i{
    transform: scale(1.1);
    color: #211F1F;
  }

  footer .contacts a:nth-child(2):hover i{
    transform: scale(1.1);
    color: #06cc6f;
  }

  footer .contacts a:nth-child(3):hover i{
    transform: scale(1.1);
    color: #0088cc;
  }


  @media screen and (max-width: 728px){
    footer{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    footer .disclaimer{
      width: 80%;
    }

    footer .contacts,p{
      margin-bottom: 20px;
    }

    .todo-input{
      width: 80%;
    }
    

    .intro p{
      font-size: 1.5rem;
    }
  }


